{{set . "title" .directory}}
{{template "header.html" .}}

<header>
  <div class="grid grid-pad">
    <div class="hero col-1-1">
      <h1>Smith Family Photo Library</h1>
    </div>
  </div>
</header>

<h2>{{.directory}}</h2>

<div class="grid grid-pad">
  {{range .images}}
  <a href='http://localhost:8080/{{.FullPath}}'><img src='http://localhost:8080/{{.Thumbnail}}' alt='preview' /></a>
  {{end}}
  
  <p>Events</p>
  {{range .directories}}
  <p> <a href="{{url "App.Show" .FullName}}">{{.ShortName}}</a> </p>
  {{end}}
</div>

<div class="grid grid-pad">
  <div class="col-1-1">
    {{template "flash.html" .}}
  </div>
</div>

{{template "footer.html" .}}
